<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
        {{!-- <h1>{{msg}}</h1> --}}
        <h1>Search Cocktails</h1>
        <div class="input-group mb-3 row col-5" id=search-bar>
            <input type="text" class="form-control shadow" placeholder="search a city and sport team name..." aria-label="search-input" aria-describedby="button-addon2" id="search1">
            <div class="input-group-append">
              <a href="../views/login/app/public/index.html">
                  <button class="btn btn-danger shadow" type="button" id="button-addon2">search</button>
                </a>
            </div>
          </div>
      </div>
                <a href="../views/login/app/public/index.html">
                  <button class="btn btn-danger shadow" type="button">search</button>
                </a>
        <h1>Results</h1>
        <ul id="example-list" class="list-group">
          {{#each examples}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="example/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
