<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/saved">saved recipes</a>
            </li>
        </ul>
  </div>
</nav>
<section id="recipe-section">
    <div class="text-center">
    <h1 id="name-header">Recipe Name</h1>
    <button id="save-recipe" class="btn text-white">save</button>
    </div>
    <br>
    <div class="container">
    <div class="row" id="recipe-info">
        <div class="col-sm-6">
            <img id="drink-image" class="rounded-circle img-responsive result-img rec-img">
        </div>
        <div class="col-sm-6 rec-details">
            <div class="row">
                <div class="col-12">
                    <h2>Ingredients</h2>
                    <div class="red-box"></div><br>
                        <ul id="ingredients">
                        {{!-- put all ingredients here --}}
                        </ul>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <h2>Steps</h2>
                    <div class="red-box"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <br>
                    <p id="steps">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-12">
                    <h2>Suggested Glass</h2>
                    <div class="red-box"></div><br>
                    <p id="glass"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12" id="suggested-glass">
                    <p>
                        {{!-- glass name goes here --}}
                    </p>
                </div>
            </div>

        </div>
    </div>
    </div>
  </section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
console.log("ugh");
var path = window.location.pathname;
console.log("path= " + path);
var split = path.split("/");
console.log(split);
var id = split[1];
console.log(id)

var queryURL =
    "https://www.thecocktaildb.com/api/json/v1/1/lookup.php?i=" + id;
  $.ajax({
    url: queryURL,
    method: "GET"
  }).then(function(response) {
    console.log(response);
    
    var drink = response.drinks[0];

    $("#name-header").text(drink.strDrink);
    $("#drink-image").attr({
        src: drink.strDrinkThumb
    });
    $("#glass").text(drink.strGlass);
    $("#steps").text(drink.strInstructions);

var ingredients = [];
var measurements = [];

for (var key in drink) {
    if (drink.hasOwnProperty(key)) {
        if (key.includes("strIngredient")) {
        ingredients.push(drink[key]);
        console.log(ingredients);
        } else if (key.includes("strMeasure")) {
            measurements.push(drink[key]);
        }
    }
};

    for (i=0; i<ingredients.length; i++) {
        if (ingredients[i] != "" & ingredients[i] != null) {
            $("<li>").text(measurements[i] + ingredients[i]).appendTo("#ingredients");
        }
    };

  });
</script>

<script src="../public/js/index.js"></script>